body{
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.navigation{
  position: sticky;
  top: 0;
  padding : 1rem 0;
  background-color: #FFFFFF;
  z-index: 999;
}

/*                  **********Landing*******************/
.landing{
  min-height: 80vh;
  align-content: center;
  text-align: center;
}
.landing h1{
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.8rem;
  padding-bottom: 1rem;
}

/*                  **********about*******************/
.about{
  background-color: #508C9B;
  display: flex;
  justify-content: space-between;
  padding: 6rem 6rem;
  text-align: justify;
}
.about .dp{
  align-self: center;
}
.about h2{
  font-size: 2.8rem;
  color: #fff;
  padding-bottom: 1rem;
}
.about img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
.about p{
  font-size: 1rem;
  color: #fff;
  padding-bottom: 1rem;
}
.about h6, .about a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.2rem 0;
}

/*                      **********Skill***************/
.skill-card .card{
  padding: 1rem 0;
  margin: 2rem 0 0;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, #e6e6e6, #ffffff);
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.skill-card .card-img-top{
  width: 80px;
}
.skill-card .card-title{
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0;
  color: #508C9B;
}
.skill-card .card-body{

}
.skill-card .progress-bar-container{
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  /*padding: 10px;*/
  position: relative;
}

/*                          ************Skills*************/
.skills{
  padding: 6rem 6rem;
}
.skills h2{
  font-size: 2.8rem;
  padding-bottom: 1rem;
  color: #508C9B;
}
.skills ul{
  border: none  ;
}
.skills button{
  color: #508C9B;
  background:none;
  border-radius: 6px;
  border: 1px solid #ffffff!important;
  margin: 0 0.5rem;
}
.skills button:hover , .skills button:focus, .skills button:active{
  color: #508C9B;
  background-color: #ffffff;
  border: 1px solid #ffffff!important;
  border-radius: 6px;
}
.skills ul .active{
  color: #FFFFFF!important;
  background-color: #508C9B!important;
}

.skill-group{
  display: flex;
  justify-content: left;
  gap: 4rem;
  flex-wrap: wrap;
  row-gap: 2rem;
}

/***                        *************Academic***************/

.card-h {
  display: flex;
  gap: 6rem;
  margin: 2rem 0;
}
.card-h img{
  height: 150px;
  width: 150px;
}
.card-h .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-h h4{
  font-size: 1.5rem;
  color: #508C9B;
}
.card-h p{
  margin: 0.2rem 0;
}
.card-h .result{
  font-size: 1.1rem;
  color: #508C9B;
}
.card-h .result span{
  font-weight: 600;
}
.academic{
  background-color: #e7edf1;
  padding: 6rem;
}
.academic h2{
  font-size: 2.8rem;
  padding-bottom: 1rem;
  color: #508C9B;
}

/*                      **********Footer***************/
.footer{
  background-color: #508C9B;
  color: #fff;
  padding: 2rem 6rem;
  text-align: center;
}
.footer h5{
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
}
.footer .footer-links{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.footer a {
  display: block;
  align-self: center;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
}
.footer a:hover {
  color: #e6e6e6;
}
.footer p{
  font-size: 0.8rem;
  margin: 0;
}

/*                    ****************Experience****************/
.job-card{
  align-items: center;
  background-color: #e7edf1;
  border-radius: 6px;
  padding: 2rem;
  margin: 4rem 0 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0 4px 6px 0;
}
.job-card .job-card-left{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 2rem 0 2rem 0 ;
}
.job-card .job-card-left img{
  height: auto;
  width: 150px;
}
.job-card .job-card-left h3{
  font-size: 2rem;
  font-weight: 400;
  color: #508C9B;
}
.job-card .job-card-left p{
  font-size: 1.2rem;
  margin: 0.2rem 0;
}
.job-card-left .time{
  display: inline-block;
  background-color: #508C9B;
  padding: 0.2rem 1rem;
  border-radius: 6px;
  color: #FFFFFF;
  font-weight: 300;
}
.job-card .list{

}
.job-card .list h5{
  color: #508C9B;
}
.job-card .list li{
  text-align: justify;
  margin: 1rem 2rem 1rem 0;
}
.jobs{
  margin: 6rem 6rem;
  align-items: start;
}
.jobs h2{
  font-size: 2.8rem;
  color: #508C9B;
  padding: 4rem 0 1rem;
  border-bottom: 3px solid #508C9B;
}
/*                              ************Extra Curricular***********/
.image-banner{
  background-color: #e7edf1;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 2px 6px 6px 2px;
  width: 392px;
}
.image-banner img{
  border-radius: 6px;
}
.image-banner .title{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.image-banner .title h5{
  font-size: 1.5rem;
  color: #508C9B;
  /*letter-spacing: 0.2rem;*/
}
.image-banner .title p{
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: #508C9B;
  padding: 0.2rem 1rem;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 300;
  flex-shrink: 0;
}
.image-banner .achievement{
  font-size: 1rem;
  color: #ffffff;
  background-color: #508C9B;
  margin: 0;
  padding: 0.2rem 1rem;
  border-radius: 6px;
}
.extra-curricular{
  padding: 6rem 6rem;
}
.extra-curricular h2{
  font-size: 2.8rem;
  color: #508C9B;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid #508C9B;
}
.extra-curricular .banners{
  display: flex;
  gap: 4rem;
  flex-direction: row;
  flex-wrap: wrap;
}

/*                                **********Research Card***********/
.research-card{
  display: flex;
  gap: 2rem;
  padding: 1rem;
  background-color: #e7edf1;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 2px 6px 6px 2px;
  width: 70%;
  text-decoration: none;
  margin: 4rem 0;
}
.research-card img{
  height: 200px;
  width: 150px;
}
.research-card .link{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #508C9B;
}
.research-card .link:hover{
  color: #40707c;
}
.research-card p{
  font-size: 0.9rem;
  margin: 0.2rem 0;
}
.research-card .text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  width: 100%;
}
.research-card .info{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.research-card .info-text{
  max-width: 50%;
  color: #4d4d4d;
}
.research-card .info-btn{
  margin-top: auto;
  display: flex;
  font-size: 1.2rem;
  padding: 1rem;
  justify-content: end;
  gap: 1.5rem;
}
.research-card .info-btn a{
  margin-top: auto;
  padding: 0;
  color: #4d4d4d;
  border: none;
}
.research-card .info-btn .btn-ppt{
  color: #d55739;
  text-decoration: none;
}
.research-card .info-btn .btn-ppt:hover{
  transition-duration: 0.25s;
  transform: scale(1.2);
  color: #d04423;
}
.research-card .info-btn .btn-down:hover{
  transition-duration: 0.25s;
  transform: scale(1.2);
  color: #1a1a1a;
}
/*                        ***********Researches****************/
.researches{
  padding: 6rem 6rem;
}
.researches h1{
  text-align: center;
  font-size: 2.8rem;
  color: #508C9B;
}
.researches h3{
  font-size: 1.5rem;
  color: #508C9B;
  margin-top: 60px;
  margin-bottom: 2rem;
  border-bottom: 3px solid #508C9B;
  padding-bottom: 1rem;
}


/*                                    ******PDF***********/
.pdf{
  min-height: 100vh;
}
.pdf .pdf-page{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}
.pdf .pdf-nav{
  margin: 0 auto;
  max-width: 25%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1200;
}
.pdf button{
  border: none;
  padding: 0!important;
  font-size: 2rem;
  background: none;
  color: #b6b6b6;
}
.pdf button:hover{
  color: #508C9B;
  transform: scale(1.2);
  transition-duration: 0.2s;
}
.pdf-nav p{
  margin: 12px 0 0;
  padding: 0;
}

/*                                    ***********ppt ***********/
.ppt-view .ppt{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.ppt-view h3{
    text-align: center;
    font-size: 1.5rem;
    color: #508C9B;
    margin: 4rem 0;
}

/*                                    ***********404***********/
.nf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.nf .flag{
  margin-bottom: 4rem;
  color: #d04423;
}
.nf h1{
  font-size: 2.8rem;
  font-weight: 600;
}
.nf p{
  font-size: 1.2rem;
  font-weight: 300;
  margin: 2rem 0;
}
.nf